body {
    margin: 0;
    padding: 0;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.page-header {
    width: 1160px;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f7e296;
}

.page-header__container {
    width: 1040px;
    margin: 0 auto;
}

.page-header__nav {
    position: relative;
}

.page-header__logo {
    position: absolute;
    top: -70px;
    left: 0;
}

.page-header__logo:hover {
    opacity: 0.6;
}

.page-header__logo:active {
    opacity: 0.3;
}

.page-header__middle-panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.search-form {
    width: 250px;
    margin-right: 290px;
    font: inherit;
    color: inherit;
}

.search-form__field {
    padding-left: 35px;
    font-family: "Open sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    background-color: inherit;
    background: url("../img/icons/search.svg") no-repeat 0 center;
    border: none;
}

.search-form__field::placeholder {
    opacity: 0.3;
}

.search-form__field:hover::placeholder {
    opacity: 0.6;
}

.page-header__auth {
    width: 250px;
    box-sizing: border-box;
}

.page-header__auth-signout {
    margin-left: 10px;
    opacity: 0.3;
}

.page-header__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 235px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.page-header__auth-signin,
.page-header__link {
    padding-left: 25px;
    opacity: 1.0;
    cursor: pointer;
}

.page-header__auth-signin:hover,
.page-header__auth-signout:hover,
.page-header__link:hover {
    opacity: 0.6;
}

.page-header__auth-signin:active,
.page-header__auth-signout:active,
.page-header__link:active {
    opacity: 0.3;
}

.page-header__auth a,
.page-header__link a {
    color: inherit;
    text-decoration: none;
}

.page-header__auth-signin {
    background: url("../img/icons/user.svg") no-repeat 0 center;
}

.page-header__link-compare {
    background: url("../img/icons/compare.svg") no-repeat 0 center;
}

.page-header__link-cart {
    background: url("../img/icons/cart.svg") no-repeat 0 center;
}

.page-header__bottom-panel {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.page-header__catalog {
    position: relative;
}

.page-header__catalog-link {
    position: relative;
    color: inherit;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
}

.page-header__catalog-link::after {
    position: absolute;
    top: 0;
    right: -25px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    background: url("../img/icons/plus.svg") no-repeat center center;
    content: "";
}

.page-header__catalog-link:hover + .page-header__catalog-menu-container,
.page-header__catalog-menu-container:hover {
    display: block;
}

.page-header__catalog-menu-container {
    display: none;
    position: absolute;
    left: -60px;
    width: 1160px;
    z-index: 2;
    background-color: #f7e296;
}

.page-header__catalog-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 40px;
    width: 1040px;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 60px;
    list-style: none;
}

.page-header__catalog-menu-column {
    max-width: 200px;
}

.page-header__catalog-menu a {
    display: block;
    white-space: nowrap;
    font-size: 15px;
    line-height: 36px;
    font-family: "Open sans", "Arial", sans-serif;
    font-weight: 300;
    color: inherit;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-header__catalog-menu a:hover {
    opacity: 0.6;
}

.page-header__catalog-menu a:active {
    opacity: 0.3;
}

.page-header__service-links {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style: none;
    letter-spacing: 0.1em;
}

.page-header__service-link {
    margin-right: 40px;
    color: rgba(0, 0, 0, 1.0);
    text-transform: uppercase;
}

.page-header__catalog-link:hover,
.page-header__service-link:hover {
    color: rgba(0, 0, 0, 0.6);
}

.page-header__catalog-link:active,
.page-header__service-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.page-header__service-link:last-child {
    margin-right: 0;
    margin-left: auto;
}

.page-header__service-link a {
    color: inherit;
    text-decoration: none;
}

.btn-link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.btn-link:hover,
.btn-link:active {
    background-color: #f0c52e;
}

.btn-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.promo {
    width: 1160px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #f7e296 112px, #ffffff 112px);
    background-repeat: no-repeat;
}

.promo__sliders {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: item;
}

.promo__slide {
    display: none;
    counter-increment: item;
}

.promo__slide img {
    margin: 0 auto;
}

.promo__slide-visible {
    display: flex;
}

.promo__slide-content {
    position: relative;
    width: 500px;
    margin-top: 35px;
    margin-right: 50px;
    margin-left: auto;
}

.promo__slide-content::before {
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 180px;
    color: #ffffff;
    content: "0" counter(item);
}

.promo__lead-paragraph {
    position: relative;
    margin: 0;
    margin-top: 45px;
    font-size: 47px;
    line-height: 56px;
}

.promo__lead-description {
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: "Open sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.promo__characteristics th {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
}

.promo__characteristics td {
    font-weight: 300;
    font-size: 36px;
    line-height: 48px;
}

.categories {
    width: 1160px;
    margin: 0 auto;
}

.categories__list {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-top: 95px;
    padding: 0;
    list-style: none;
}

.categories__item {
    margin-right: 40px;
}

.categories__item:last-child {
    margin-right: 0;
}

.categories__item a {
    display: flex;
    flex-direction: column;
    width: 160px;
    color: inherit;
    text-decoration: none;
}

.categories__item h3 {
    font-size: 18px;
    line-height: 24px;
    opacity: 1.0;
}

.categories__item h3:active {
    opacity: 0.3;
}

.categories__item-icon {
    position: relative;
    order: -1;
    width: 160px;
    height: 160px;
    margin-bottom: 30px;
    background-color: #f7e296;
}

.categories__item-icon::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    content: "";
}

.categories__item-icon:hover,
.categories__item-icon:active {
    background-color: #f0c52e;
}

.categories__item-icon:active::before {
    opacity: 0.3;
}

.categories__item:nth-child(1) .categories__item-icon::before {
    background-image: url("../img/popular-1.png");
}

.categories__item:nth-child(2) .categories__item-icon::before {
    background-image: url("../img/popular-2.png");
    background-position: 50% 100%;
}

.categories__item:nth-child(3) .categories__item-icon::before {
    background-image: url("../img/popular-3.png");
}

.categories__item:nth-child(4) .categories__item-icon::before {
    background-image: url("../img/popular-4.png");
}

.categories__item:nth-child(5) .categories__item-icon::before {
    background-image: url("../img/popular-5.png");
}

.categories__item:nth-child(6) .categories__item-icon::before {
    background-image: url("../img/popular-6.png");
}

.services {
    margin: 0 auto;
    margin-top: 145px;
    padding-bottom: 155px;
    background-color: #e5e5e5;
}

.services__container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.services__list {
    width: 280px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.services__item a:active,
.services__item-active {
    color: #f7e184;
    background-color: #000000;
}

.services__item-content {
    display: none;
    position: relative;
    width: 438px;
    margin-left: 115px;
}

.services__item-content-active {
    display: block;
}

.services__item-content h3 {
    position: absolute;
    top: -28px;
    margin: 0;
}

.services__item-content p {
    margin-top: 60px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.partners {
    width: 1160px;
    margin: 0 auto;
    margin-top: 95px;
}

.partners__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.partners__item {
    background-repeat: no-repeat;
}

.partners__item:nth-child(1):hover {
    background-image: url("../img/patner-logo-1-hover.png");
}

.partners__item:nth-child(2):hover {
    background-image: url("../img/patner-logo-2-hover.png");
}

.partners__item:nth-child(3):hover {
    background-image: url("../img/patner-logo-3-hover.png");
}

.partners__item:nth-child(4):hover {
    background-image: url("../img/patner-logo-4-hover.png");
}

.section-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 47px;
    line-height: 48px;
    overflow-wrap: break-word;
    hyphens: auto;
}

.about-contacts-container {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    margin-top: 150px;
}

.about,
.contacts {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 560px;
}

.about::before,
.contacts::before {
    position: absolute;
    top: -50px;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #000000;
    content: "";
}

/* Добавление отступа между последним контентным элементом и кнопкой */
.about > *:nth-last-child(2),
.contacts > *:nth-last-child(2) {
    margin-bottom: 70px;
}

.about {
    width: 475px;
}

.about p,
.contacts p {
    margin: 0;
    margin-top: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.about__partners {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    list-style: none;
}

.about__partner {
    position: relative;
    padding-left: 35px;
    font-size: 16px;
    line-height: 40px;
}

.about__partner::before {
    position: absolute;
    top: 15px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: url("../img/icons/list-marker.svg") no-repeat center center;
    content: "";
}

.btn-link-about-contacts {
    align-self: flex-start;
    margin: 0;
    margin-top: auto;
}

.contacts {
    width: 562px;
}

.contacts__map {
    margin: 0;
    margin-top: 40px;
}

.page-footer {
    margin-top: 90px;
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    color: #ffffff;
    background-color: #464646;
}

.page-footer__container {
    width: 1160px;
    margin: 0 auto;
}

.page-footer__top-panel {
    display: flex;
    justify-content: space-between;
}

.page-footer__logo:hover {
    opacity: 0.6;
}

.page-footer__logo:active {
    opacity: 0.3;
}

.page-footer__auth {
    max-width: 250px;
    box-sizing: border-box;
}

.page-footer__auth-signout {
    margin-left: 10px;
    opacity: 0.3;
}

.page-footer__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    column-gap: 40px;
    row-gap: 10px;
    max-width: 900px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-footer__auth-signin,
.page-footer__link {
    padding-left: 25px;
    opacity: 0.7;
    cursor: pointer;
}

.page-footer__auth-signin:hover,
.page-footer__auth-signout:hover,
.page-footer__link:hover {
    opacity: 1.0;
}

.page-footer__auth-signin:active,
.page-footer__auth-signout:active,
.page-footer__link:active {
    opacity: 0.3;
}

.page-footer__auth a,
.page-footer__link a {
    color: inherit;
    text-decoration: none;
}

.page-footer__auth-signin {
    background: url("../img/icons/user-footer.svg") no-repeat 0 center;
}

.page-footer__link-compare {
    background: url("../img/icons/compare-footer.svg") no-repeat 0 center;
}

.page-footer__link-cart {
    background: url("../img/icons/cart-footer.svg") no-repeat 0 center;
}

.page-footer__middle-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-footer__address,
.page-footer__phone {
    width: 265px;
}

.page-footer__service-links {
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 15px;
    max-width: 700px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-footer__service-link {
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.page-footer__service-link:hover {
    opacity: 0.6;
}

.page-footer__service-link:active {
    opacity: 0.3;
}

.page-footer__service-link a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: inherit;
    text-decoration: none;
}

.page-footer__phone {
    text-align: right;
}

.page-footer__bottom-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
}

.page-footer__underline {
    position: relative;
    width: 265px;
}

.page-footer__underline::before {
    position: absolute;
    width: 80px;
    height: 7px;
    background-color: #ffc600;
    content: "";
}

.page-footer__socials {
    display: flex;
    flex-wrap: wrap;
    column-gap: 23px;
    row-gap: 15px;
    max-width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-footer__social {
    flex-grow: 1;
    position: relative;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.page-footer__social:last-child {
    margin-right: 0;
}

.page-footer__social:hover {
    opacity: 0.6;
}

.page-footer__social:active {
    opacity: 0.1;
}

.page-footer__social-fb {
    background-image: url("../img/fb.png");
}

.page-footer__social-in {
    background-image: url("../img/ins.png");
}

.page-footer__social-tw {
    background-image: url("../img/tw.png");
}

.page-footer__social a {
    display: block;
    width: 32px;
    height: 32px;
}

.page-footer__htmlacademy-link {
    width: 265px;
    text-align: right;
}

.page-footer__htmlacademy-link:hover {
    opacity: 0.6;
}

.page-footer__htmlacademy-link:active {
    opacity: 0.3;
}

.modal {
    display: none;
    position: relative;
    width: 960px;
    height: 560px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-show {
    display: block;
}

.modal-feedback {
    padding: 100px;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    opacity: 0.5;
    background-color: #f0c52e;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    position: absolute;
    top: 26px;
    left: 13px;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    content: "";
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.feedback__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 40px;
    width: 760px;
    margin: 0 auto;
    box-sizing: border-box;
}

.feedback__form-field {
    display: flex;
    flex-direction: column;
}

.feedback__form-field {
    width: 360px;
    box-sizing: border-box;
}

.feedback__form-field-textarea {
    width: 100%;
    margin-top: 35px;
}

.feedback__form-field-textarea textarea {
    resize: none;
    height: 156px;
    box-sizing: border-box;
}

.feedback__form input[type="submit"] {
    margin-top: 50px;
}

.feedback__form input[type="text"],
.feedback__form input[type="email"],
.feedback__form textarea {
    margin-top: 9px;
    padding: 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background-color: #f2f2f2;
    border: none;
}

.feedback__form input[type="text"],
.feedback__form input[type="email"] {
    width: 360px;
    box-sizing: border-box;
}

.feedback__form input[type="text"]::placeholder,
.feedback__form input[type="email"]::placeholder,
.feedback__form textarea::placeholder {
    color: rgba(70, 70, 70, 0.4);
}

.modal-map__map {
    width: 100%;
    height: 100%;
    margin: 0;
}

.modal-map__map img {
    display: block;
    max-width: 100%;
    height: auto;
}

.catalog-top__container {
    width: 1040px;
    margin: 0 auto;
    margin-top: 45px;
}

.catalog-top__container h1 {
    margin: 0;
    margin-bottom: 30px;
}

.breadcrumbs {
    display: flex;
    gap: 40px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.breadcrumbs a {
    color: inherit;
    text-decoration: none;
    opacity: 0.3;
}

.breadcrumbs a:hover {
    opacity: 0.6;
}

.breadcrumbs a:active {
    opacity: 0.1;
}

.catalog__container {
    width: 1160px;
    margin: 0 auto;
    margin-top: 50px;
}

.catalog__inner-container {
    display: flex;
    width: 1100px;
    margin-left: auto;
}

.filter {
    width: 267px;
    background-color: #eeeeee;
}

.filter__header {
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: #dcdcdc;
}

.filter__header h2 {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.filter__form {
    display: flex;
    flex-direction: column;
    width: 202px;
}

.filter__parameter {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 40px;
    border: none;
}

.filter__parameter legend {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.filter__parameter input[type="checkbox"]:disabled,
.filter__parameter input[type="radio"]:disabled {
    color: #a6a6a6;
}

.filter__price-range {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.2;
    text-transform: lowercase;
}

.products {
    width: 835px;
}

.products__sort {
    display: flex;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 72px;
    background-color: #ebebeb;
}

.products__sort h3 {
    margin: 0;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.products__sort-criterions {
    display: flex;
    margin: 0;
    margin-left: 55px;
    padding: 0;
    list-style: none;
}

.products__sort-criterion {
    margin-right: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.3;
}

.products__sort-criterion:last-child {
    margin-right: 0;
}

.products__sort-criterion:hover {
    opacity: 0.6;
}

.products__sort-criterion:active,
.products__sort-criterion-active {
    opacity: 1.0;
}

.products__sort-criterion a {
    color: inherit;
    text-decoration: none;
}

.products__cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    margin: 0;
    margin-top: 70px;
    margin-left: 73px;
    padding: 0;
    list-style: none;
}

.products__card {
    margin-right: 40px;
}

.products__card:nth-child(2n) {
    margin-right: 0;
}

.products__card-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 360px;
    margin-top: 40px;
}

.products__card-content h3 {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
}

.products__card-price {
    width: 100px;
    margin-left: auto;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: end;
}

.products__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 760px;
    margin-top: 40px;
    margin-left: auto;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #ebebeb;
}

.products__pagination a {
    color: inherit;
    text-decoration: none;
}

.products__back,
.products__next {
    padding: 20px;
    box-sizing: border-box;
    letter-spacing: 0.15em;
}

.products__back:hover,
.products__next:hover {
    background-color: #d9d9d9;
}

.products__back:active,
.products__next:active {
    color: rgba(0, 0, 0, 0.3);
}

.products__pages {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.products__page {
    opacity: 0.3;
}

.products__page:hover {
    opacity: 0.6;
}

.products__page:active,
.products__page-current {
    opacity: 1.0;
}