body {
    margin: 0;
    padding: 0;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.page-header {
    width: 1160px;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f7e296;
}

.page-header__container {
    width: 1040px;
    margin: 0 auto;
}

.page-header__nav {
    position: relative;
}

.page-header__logo {
    position: absolute;
    top: -70px;
    left: 0;
}

.page-header__logo:hover {
    opacity: 0.6;
}

.page-header__logo:active {
    opacity: 0.3;
}

.page-header__middle-panel {
    display: flex;
    justify-content: flex-start;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.search-form {
    width: 250px;
    margin-right: 290px;
    font: inherit;
    color: inherit;
}

.search-form__field {
    opacity: 0.3;
}

.search-form__field:hover {
    opacity: 0.6;
}

.search-form__field:focus+button {
    display: inline;
}

.page-header__links {
    display: flex;
    gap: 65px;
    width: 505px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-signout {
    margin-left: 20px;
    opacity: 0.3;
}

.page-header__link {
    opacity: 1.0;
}

.page-header__link:hover {
    opacity: 0.6;
}

.page-header__link:active {
    opacity: 0.3;
}

.page-header__link:nth-child(2) {
    margin-left: auto;
}

.page-header__link a {
    color: inherit;
    text-decoration: none;
}

.page-header__bottom-panel {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.page-header__service-links {
    display: flex;
    justify-content: space-between;
    width: 1040px;
    margin: 0;
    padding: 0;
    list-style: none;
    letter-spacing: 0.1em;
}

.page-header__service-link {
    margin-right: 40px;
    text-transform: uppercase;
    opacity: 1.0;
}

.page-header__service-link:hover {
    opacity: 0.6;
}

.page-header__service-link:active {
    opacity: 0.3;
}

.page-header__service-link:first-child {
    width: 250px;
    margin-right: 290px;
}

.page-header__service-link:last-child {
    margin-right: 0;
    margin-left: auto;
}

.page-header__service-link a {
    color: inherit;
    text-decoration: none;
}

.btn-link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.btn-link:hover,
.btn-link:active {
    background-color: #f0c52e;
}

.btn-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.promo {
    width: 1160px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #f7e296 112px, #ffffff 112px);
    background-repeat: no-repeat;
}

.promo__sliders {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: item;
}

.promo__slide {
    display: none;
    counter-increment: item;
}

.promo__slide img {
    margin: 0 auto;
}

.promo__slide-active {
    display: flex;
}

.promo__slide-content {
    position: relative;
    width: 500px;
    margin-top: 35px;
    margin-right: 50px;
    margin-left: auto;
}

.promo__slide-content::before {
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 180px;
    color: #ffffff;
    content: "0" counter(item);
}

.promo__lead-paragraph {
    margin: 0;
    margin-top: 45px;
    font-size: 47px;
    line-height: 56px;
}

.promo__lead-description {
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: "Open sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.promo__characteristics th {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
}

.promo__characteristics td {
    font-weight: 300;
    font-size: 36px;
    line-height: 48px;
}

.categories {
    width: 1160px;
    margin: 0 auto;
}

.categories__list {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-top: 95px;
    padding: 0;
    list-style: none;
}

.categories__item {
    margin-right: 40px;
}

.categories__item:last-child {
    margin-right: 0;
}

.categories__item a {
    display: flex;
    flex-direction: column;
    width: 160px;
    color: inherit;
    text-decoration: none;
}

.categories__item h3 {
    font-size: 18px;
    line-height: 24px;
    opacity: 1.0;
}

.categories__item h3:hover {
    opacity: 0.6;
}

.categories__item h3:active {
    opacity: 0.3;
}

.categories__item-icon {
    position: relative;
    order: -1;
    width: 160px;
    height: 160px;
    margin-bottom: 35px;
    background-color: #f7e296;
}

.categories__item-icon::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    content: "";
}

.categories__item-icon:hover,
.categories__item-icon:active {
    background-color: #f0c52e;
}

.categories__item-icon:active::before {
    opacity: 0.3;
}

.categories__item:nth-child(1) .categories__item-icon::before {
    background-image: url("../img/popular-1.png");
}

.categories__item:nth-child(2) .categories__item-icon::before {
    background-image: url("../img/popular-2.png");
    background-position: 50% 100%;
}

.categories__item:nth-child(3) .categories__item-icon::before {
    background-image: url("../img/popular-3.png");
}

.categories__item:nth-child(4) .categories__item-icon::before {
    background-image: url("../img/popular-4.png");
}

.categories__item:nth-child(5) .categories__item-icon::before {
    background-image: url("../img/popular-5.png");
}

.categories__item:nth-child(6) .categories__item-icon::before {
    background-image: url("../img/popular-6.png");
}

.services {
    margin: 0 auto;
    margin-top: 145px;
    padding-bottom: 155px;
    background-color: #e5e5e5;
}

.services__container {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.services__list {
    width: 280px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.services__item a:active,
.services__item-active {
    color: #f7e184;
    background-color: #000000;
}

.services__item-content {
    display: none;
    position: relative;
    width: 438px;
    margin-left: 115px;
}

.services__item-content-active {
    display: block;
}

.services__item-content h3 {
    position: absolute;
    top: -28px;
    margin: 0;
}

.services__item-content p {
    margin-top: 60px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.partners {
    width: 1160px;
    margin: 0 auto;
    margin-top: 95px;
}

.partners__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.partners__item {
    background-repeat: no-repeat;
}

.partners__item:nth-child(1):hover {
    background-image: url("../img/patner-logo-1-hover.png");
}

.partners__item:nth-child(2):hover {
    background-image: url("../img/patner-logo-2-hover.png");
}

.partners__item:nth-child(3):hover {
    background-image: url("../img/patner-logo-3-hover.png");
}

.partners__item:nth-child(4):hover {
    background-image: url("../img/patner-logo-4-hover.png");
}

.section-title {
    margin: 0;
    margin-bottom: 60px;
    font-size: 47px;
    line-height: 48px;
}

.about-and-contacts-container {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    margin-top: 150px;
}

.about,
.contacts {
    position: relative;
}

.about::before,
.contacts::before {
    position: absolute;
    top: -50px;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #000000;
    content: "";
}

.about {
    width: 464px;
}

.about p {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.about__partners {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about__partner {
    font-size: 16px;
    line-height: 40px;
}

.contacts {
    width: 562px;
}

.contacts p {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.page-footer {
    margin-top: 90px;
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    color: #ffffff;
    background-color: #464646;
}

.page-footer__container {
    width: 1160px;
    margin: 0 auto;
}

.page-footer__top-panel {
    display: flex;
    justify-content: space-between;
}

.page-footer__logo:hover {
    opacity: 0.6;
}

.page-footer__logo:active {
    opacity: 0.3;
}

.page-footer__links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-footer__link {
    margin-right: 65px;
    opacity: 0.7;
}

.page-footer__link:last-child {
    margin-right: 0;
}

.page-footer__link:hover {
    opacity: 1.0;
}

.page-footer__link:active {
    opacity: 0.3;
}

.page-footer__link a {
    color: inherit;
    text-decoration: none;
}

.page-footer__middle-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-footer__address,
.page-footer__phone {
    width: 265px;
}

.page-footer__service-links {
    display: flex;
    gap: 35px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-footer__service-link {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.page-footer__service-link:hover {
    opacity: 0.6;
}

.page-footer__service-link:active {
    opacity: 0.3;
}

.page-footer__service-link a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: inherit;
    text-decoration: none;
}

.page-footer__phone {
    text-align: right;
}

.page-footer__bottom-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
}

.page-footer__underline {
    position: relative;
    width: 265px;
}

.page-footer__underline::before {
    position: absolute;
    width: 80px;
    height: 7px;
    background-color: #ffc600;
    content: "";
}

.page-footer__socials {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-footer__social {
    position: relative;
    width: 32px;
    height: 32px;
    margin-right: 23px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.page-footer__social:last-child {
    margin-right: 0;
}

.page-footer__social:hover {
    opacity: 0.6;
}

.page-footer__social:active {
    opacity: 0.1;
}

.page-footer__social-fb {
    background-image: url("../img/fb.png");
}

.page-footer__social-in {
    background-image: url("../img/ins.png");
}

.page-footer__social-tw {
    background-image: url("../img/tw.png");
}

.page-footer__social a {
    display: block;
    width: 32px;
    height: 32px;
}

.page-footer__htmlacademy-link {
    width: 265px;
    text-align: right;
}

.page-footer__htmlacademy-link:hover {
    opacity: 0.6;
}

.page-footer__htmlacademy-link:active {
    opacity: 0.3;
}

.breadcrumbs {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.breadcrumbs a {
    color: inherit;
    text-decoration: none;
    opacity: 0.3;
}

.breadcrumbs a:hover {
    opacity: 0.6;
}

.breadcrumbs a:active {
    opacity: 0.1;
}

.filter {
    background-color: #eeeeee;
}

.filter__header {
    background-color: #dcdcdc;
}

.filter__header h2 {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.filter__parameter {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 40px;
    border: none;
}

.filter__parameter legend {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.filter__parameter input[type="checkbox"]:disabled,
.filter__parameter input[type="radio"]:disabled {
    color: #a6a6a6;
}

.filter__price-range {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.2;
    text-transform: lowercase;
}

.products__sort {
    background-color: #ebebeb;
}

.products__sort h3 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.products__sort-criterion {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.3;
    color: inherit;
    text-decoration: none;
}

.products__sort-criterion:hover {
    opacity: 0.6;
}

.products__sort-criterion:active,
.products__sort-criterion-active {
    opacity: 1.0;
}

.products__cards {
    margin: 0;
    padding: 0;
    list-style: none;
}

.products__card-price {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.products__pagination {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #ebebeb;
}

.products__pagination a {
    color: inherit;
    text-decoration: none;
}

.products__backward:hover,
.products__forward:hover {
    background-color: #d9d9d9;
}

.products__backward:active,
.products__forward:active {
    color: rgba(0, 0, 0, 0.3);
}

.products__pages {
    margin: 0;
    padding: 0;
    list-style: none;
}

.products__page {
    opacity: 0.3;
}

.products__page:hover {
    opacity: 0.6;
}

.products__page:active,
.products__page-current {
    opacity: 1.0;
}