body {
    margin: 0;
    padding: 0;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}

.page-header__container {
    background-color: #f7e296;
}

.page-header__logo:hover {
    opacity: 0.6;
}

.page-header__logo:active {
    opacity: 0.3;
}

.page-header__middle-panel {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.search-form {
    font: inherit;
    color: inherit;
}

.search-form__field {
    opacity: 0.3;
}

.search-form__field:hover {
    opacity: 0.6;
}

.search-form button {
    display: none;
}

.search-form__field:focus + button {
    display: inline;
}

.page-header__links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-signout {
    opacity: 0.3;
}

.page-header__link {
    opacity: 1.0;
}

.page-header__link:hover {
    opacity: 0.6;
}

.page-header__link:active {
    opacity: 0.3;
}

.page-header__link a {
    color: inherit;
    text-decoration: none;
}

.page-header__service-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-header__service-link {
    text-transform: uppercase;
    opacity: 1.0;
}

.page-header__service-link:hover {
    opacity: 0.6;
}

.page-header__service-link:active {
    opacity: 0.3;
}
 
.page-header__service-link a {
    color: inherit;
    text-decoration: none;
}

.btn-link {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-link:hover,
.btn-link:active {
    background-color: #f0c52e;
}

.btn-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.promo h2 {
    display: none;
}

.promo__sliders {
    margin: 0;
    padding: 0;
    list-style: none;
}

.promo__slide h3 {
    display: none;
}

.promo__lead-paragraph {
    font-size: 47px;
    line-height: 56px;
}

.promo__lead-description {
    font-family: "Open sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.promo__characteristics th {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
}

.promo__characteristics td {
    font-weight: 300;
    font-size: 36px;
    line-height: 48px;
}

.categories h2 {
    display: none;
}

.categories__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.categories__item a {
    color: inherit;
    text-decoration: none;
}

.categories__item h3 {
    font-size: 18px;
    line-height: 24px;
    opacity: 1.0;
}

.categories__item h3:hover {
    opacity: 0.6;
}

.categories__item h3:active {
    opacity: 0.3;
}

.categories__item-icon {
    position: relative;
    width: 160px;
    height: 160px;
    background-color: #f7e296;
}

.categories__item-icon::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    content: "";
}

.categories__item-icon:hover,
.categories__item-icon:active  {
    background-color: #f0c52e;
}

.categories__item-icon:active::before {
    opacity: 0.3;
}

.categories__item:nth-child(1) .categories__item-icon::before {
    background-image: url("../img/popular-1.png");
}

.categories__item:nth-child(2) .categories__item-icon::before {
    background-image: url("../img/popular-2.png");
    background-position: 50% 100%;
}

.categories__item:nth-child(3) .categories__item-icon::before {
    background-image: url("../img/popular-3.png");
}

.categories__item:nth-child(4) .categories__item-icon::before {
    background-image: url("../img/popular-4.png");
}

.categories__item:nth-child(5) .categories__item-icon::before {
    background-image: url("../img/popular-5.png");
}

.categories__item:nth-child(6) .categories__item-icon::before {
    background-image: url("../img/popular-6.png");
}

.services {
    background-color: #e5e5e5;
}

.services h2 {
    display: none;
}

.services__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.services__item a:active,
.services__item-active {
    color: #f7e184;
    background-color: #000000;
}

.services__item-content p {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.partners h2 {
    display: none;
}

.partners__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.partners__item {
    position: relative;
}

.partners__item:hover::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    content: "";
}

.partners__item:nth-child(1):hover::before {
    background-image: url("../img/patner-logo-1-hover.png");
}

.partners__item:nth-child(2):hover::before {
    background-image: url("../img/patner-logo-2-hover.png");
}

.partners__item:nth-child(3):hover::before {
    background-image: url("../img/patner-logo-3-hover.png");
}

.partners__item:nth-child(4):hover::before {
    background-image: url("../img/patner-logo-4-hover.png");
}

.section-title {
    font-size: 47px;
    line-height: 48px;
}

.about p {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.about__partners {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about__partner {
    font-size: 16px;
    line-height: 40px;
}

.contacts p {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.page-footer {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    color: #ffffff;
    background-color: #464646;
}

.page-footer__logo:hover {
    opacity: 0.6;
}

.page-footer__logo:active {
    opacity: 0.3;
}

.page-footer__links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-footer__link {
    opacity: 0.7;
}

.page-footer__link:hover {
    opacity: 1.0;
}

.page-footer__link:active {
    opacity: 0.3;
}

.page-footer__link a {
    color: inherit;
    text-decoration: none;
}

.page-footer__service-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-footer__service-link {
    text-transform: uppercase;
}

.page-footer__service-link:hover {
    opacity: 0.6;
}

.page-footer__service-link:active {
    opacity: 0.3;
}

.page-footer__service-link a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: inherit;
    text-decoration: none;
}

.page-footer__socials {
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0.3;
}

.page-footer__socials:hover {
    opacity: 0.6;
}

.page-footer__socials:active {
    opacity: 0.1;
}

.page-footer__htmlacademy-link:hover {
    opacity: 0.6;
}

.page-footer__htmlacademy-link:active {
    opacity: 0.3;
}

.breadcrumbs {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.breadcrumbs a {
    color: inherit;
    text-decoration: none;
    opacity: 0.3;
}

.breadcrumbs a:hover {
    opacity: 0.6;
}

.breadcrumbs a:active {
    opacity: 0.1;
}

.filter {
    background-color: #eeeeee;
}

.filter__header {
    background-color: #dcdcdc;
}

.filter__header h2 {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.filter__parameter {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 40px;
    border: none;
}

.filter__parameter legend {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.filter__parameter input[type="checkbox"]:disabled,
.filter__parameter input[type="radio"]:disabled {
    color: #a6a6a6;
}

.filter__price-range {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.2;
    text-transform: lowercase;
}

.products h2 {
    display: none;
}

.products__sort {
    background-color: #ebebeb;
}

.products__sort h3 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.products__sort-criterion {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.3;
    color: inherit;
    text-decoration: none;
}

.products__sort-criterion:hover {
    opacity: 0.6;
}

.products__sort-criterion:active,
.products__sort-criterion-active {
    opacity: 1.0;
}

.products__cards {
    margin: 0;
    padding: 0;
    list-style: none;
}

.products__card-price {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.products__pagination {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #ebebeb;
}

.products__pagination a {
    color: inherit;
    text-decoration: none;
}

.products__backward:hover,
.products__forward:hover {
    background-color: #d9d9d9;
}

.products__backward:active,
.products__forward:active {
    color: rgba(0, 0, 0, 0.3);
}

.products__pages {
    margin: 0;
    padding: 0;
    list-style: none;
}

.products__page {
    opacity: 0.3;
}

.products__page:hover {
    opacity: 0.6;
}

.products__page:active,
.products__page-current {
    opacity: 1.0;
}