@import "constants";
@import "mixins";
@import "visually-hidden";

body {
    margin: 0;
    padding: 0;
    font-family: $headerFont;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}

.page-header {
    width: $contentWidth;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f7e296;

    &__container {
        width: 1040px;
        margin: 0 auto;
    }

    &__nav {
        position: relative;
    }

    &__logo {
        position: absolute;
        top: -70px;
        left: 0;

        &:hover {
            opacity: $mediumOpacity;
        }

        &:active {
            opacity: $lowOpacity;
        }
    }

    &__middle-panel {
        display: flex;
        justify-content: flex-start;
        font-family: $textFont;
        font-weight: 300;
        font-size: 15px;
        line-height: 30px;
    }

    &__links {
        display: flex;
        gap: 65px;
        width: 505px;
        @include resetListStyle();
    }

    &__link {
        opacity: 1.0;

        &:hover {
            opacity: $mediumOpacity;
        }

        &:active {
            opacity: $lowOpacity;
        }

        &:nth-child(2) {
            margin-left: auto;
        }

        a {
            @include resetLinkStyle();
        }
    }

    &__bottom-panel {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    &__service-links {
        display: flex;
        justify-content: space-between;
        width: 1040px;
        @include resetListStyle();
        letter-spacing: 0.1em;
    }

    &__service-link {
        margin-right: 40px;
        text-transform: uppercase;
        opacity: 1.0;

        &:hover {
            opacity: $mediumOpacity;
        }

        &:active {
            opacity: $lowOpacity;
        }

        &:first-child {
            width: 250px;
            margin-right: 290px;
        }

        &:last-child {
            margin-right: 0;
            margin-left: auto;
        }

        a {
            @include resetLinkStyle();
        }
    }
}

.search-form {
    width: 250px;
    margin-right: 290px;
    font: inherit;
    color: inherit;

    &__field {
        opacity: $lowOpacity;

        &:hover {
            opacity: $mediumOpacity;
        }

        &+button {
            display: inline;
        }
    }
}

.btn {
    &-signout {
        margin-left: 20px;
        opacity: $lowOpacity;
    }

    &-link {
        @include resetLinkStyle();
        text-transform: uppercase;
        letter-spacing: 0.1em;

        &:hover {
            background-color: #f0c52e;
        }

        &:active {
            color: rgba(0, 0, 0, 0.3);
            background-color: #f0c52e;
        }
    }
}

.promo {
    width: 1160px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #f7e296 112px, #ffffff 112px);
    background-repeat: no-repeat;

    &__sliders {
        @include resetListStyle();
        counter-reset: item;
    }

    &__slide {
        display: none;
        counter-increment: item;

        img {
            margin: 0 auto;
        }

        &-active {
            display: flex;
        }

        &-content {
            position: relative;
            width: 500px;
            margin-top: 35px;
            margin-right: 50px;
            margin-left: auto;

            &::before {
                position: absolute;
                top: 40px;
                right: 0;
                font-size: 180px;
                color: #ffffff;
                content: "0" counter(item);
            }
        }
    }

    &__lead-paragraph {
        margin: 0;
        margin-top: 45px;
        font-size: 47px;
        line-height: 56px;
    }

    &__lead-description {
        margin-top: 35px;
        margin-bottom: 35px;
        font-family: $textFont;
        font-weight: 300;
        font-size: 15px;
        line-height: 30px;
    }

    &__characteristics {
        th {
            font-family: $textFont;
            font-weight: 300;
            font-size: 13px;
            line-height: 20px;
        }
    
        td {
            font-weight: 300;
            font-size: 36px;
            line-height: 48px;
        }
    }
}

.categories {
    width: 1160px;
    margin: 0 auto;

    &__list {
        display: flex;
        justify-content: flex-start;
        @include resetListStyle();
        margin-top: 95px;
    }

    &__item {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }

        a {
            display: flex;
            flex-direction: column;
            width: 160px;
            @include resetLinkStyle();
        }

        h3 {
            font-size: 18px;
            line-height: 24px;
            opacity: 1.0;

            &:hover {
                opacity: $mediumOpacity;
            }

            &:active {
                opacity: $lowOpacity;
            }
        }

        &-icon {
            position: relative;
            order: -1;
            width: 160px;
            height: 160px;
            margin-bottom: 35px;
            background-color: #f7e296;

            &:hover {
                background-color: #f0c52e;
            }

            &:active {
                background-color: #f0c52e;

                &::before {
                    opacity: $lowOpacity;
                }
            }

            &::before {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 1;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                content: "";
            }
        }
    }
}

@for $i from 1 through 6 {
    .categories__item:nth-child(#{$i}) .categories__item-icon::before {
        background-image: url("../img/popular-#{$i}.png");
    }
}

.categories__item:nth-child(2) .categories__item-icon::before {
    background-position: 50% 100%;
}

.services {
    margin: 0 auto;
    margin-top: 145px;
    padding-bottom: 155px;
    background-color: #e5e5e5;

    &__container {
        display: flex;
        width: $contentWidth;
        margin: 0 auto;
    }

    &__list {
        width: 280px;
        @include resetListStyle();
    }

    &__item {
        a:active,
        &-active {
            color: #f7e184;
            background-color: #000000;
        }

        &-content {
            display: none;
            position: relative;
            width: 438px;
            margin-left: 115px;
        
            &-active {
                display: block;
            }
        
            h3 {
                position: absolute;
                top: -28px;
                margin: 0;
            }
        
            p {
                margin-top: 60px;
                font-family: $textFont;
                font-weight: 300;
                font-size: 15px;
                line-height: 30px;
            }
        }
    }
}

.partners {
    width: 1160px;
    margin: 0 auto;
    margin-top: 95px;

    &__list {
        display: flex;
        justify-content: space-between;
        @include resetListStyle();
    }

    &__item {
        background-repeat: no-repeat;
    }
}

@for $i from 1 through 4 {
    .partners__item:nth-child(#{$i}):hover {
        background-image: url("../img/patner-logo-#{$i}-hover.png");
    } 
}

.section-title {
    margin: 0;
    margin-bottom: 60px;
    font-size: 47px;
    line-height: 48px;
}

.about-and-contacts-container {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    margin-top: 150px;
}

.about,
.contacts {
    position: relative;

    &::before {
        position: absolute;
        top: -50px;
        left: 0;
        width: 80px;
        height: 7px;
        background-color: #000000;
        content: "";
    }
}

.about {
    width: 464px;
    
    p {
        font-family: $textFont;
        font-weight: 300;
        font-size: 15px;
        line-height: 30px;
    }

    &__partners {
        @include resetListStyle();
    }

    &__partner {
        font-size: 16px;
        line-height: 40px;
    }
}

.contacts {
    width: 562px;
    
    p {
        font-family: $textFont;
        font-weight: 300;
        font-size: 15px;
        line-height: 30px;
    }
}

.page-footer {
    margin-top: 90px;
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: $textFont;
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    color: #ffffff;
    background-color: #464646;

    &__container {
        width: $contentWidth;
        margin: 0 auto;
    }

    &__top-panel {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        &:hover {
            opacity: $mediumOpacity;
        }

        &:active {
            opacity: $lowOpacity;
        }
    }

    &__links {
        display: flex;
        @include resetListStyle();
    }

    &__link {
        margin-right: 65px;
        opacity: 0.7;

        &:hover {
            opacity: 1.0;
        }

        &:active {
            opacity: $lowOpacity;
        }

        &:last-child {
            margin-right: 0;
        }

        a {
            @include resetLinkStyle();
        }
    }

    &__middle-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__address,
    &__phone {
        width: 265px;
    }

    &__service-links {
        display: flex;
        gap: 35px;
        @include resetListStyle();
    }

    &__service-link {
        text-transform: uppercase;
        letter-spacing: 0.2em;

        &:hover {
            opacity: $mediumOpacity;
        }

        &:active {
            opacity: $lowOpacity;
        }

        a {
            font-family: $headerFont;
            font-weight: 800;
            font-size: 18px;
            line-height: 24px;
            @include resetLinkStyle();
        }
    }

    &__phone {
        text-align: right;
    }

    &__bottom-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 65px;
    }

    &__underline {
        position: relative;
        width: 265px;

        &::before {
            position: absolute;
            width: 80px;
            height: 7px;
            background-color: #ffc600;
            content: "";
        }
    }

    &__socials {
        display: flex;
        @include resetListStyle();

        &:hover {
            opacity: $mediumOpacity;
        }

        &:active {
            opacity: 0.1;
        }
    }

    &__social {
        position: relative;
        width: $socialIconSize;
        height: $socialIconSize;
        margin-right: 23px;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            opacity: $mediumOpacity;
        }

        &:active {
            opacity: $lowOpacity;
        }

        &-fb {
            background-image: url("../img/fb.png");
        }

        &-in {
            background-image: url("../img/ins.png");
        }

        &-tw {
            background-image: url("../img/tw.png");
        }

        a {
            display: block;
            width: $socialIconSize;
            height: $socialIconSize;
        }
    }

    &__htmlacademy-link {
        width: 265px;
        text-align: right;

        &:hover {
            opacity: $mediumOpacity;
        }

        &:active {
            opacity: $lowOpacity;
        }
    }
}

.breadcrumbs {
    font-family: $textFont;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;

    a {
        @include resetLinkStyle();
        opacity: $lowOpacity;

        &:hover {
            opacity: $mediumOpacity;
        }

        &:active {
            opacity: 0.1;
        }
    }
}

.filter {
    background-color: #eeeeee;

    &__header {
        background-color: #dcdcdc;

        h2 {
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
        }
    }

    &__parameter {
        font-family: $textFont;
        font-weight: 300;
        font-size: 14px;
        line-height: 40px;
        border: none;

        legend {
            font-family: $headerFont;
            font-weight: 800;
            font-size: 18px;
            line-height: 24px;
        }

        input[type="checkbox"]:disabled,
        input[type="radio"]:disabled {
            color: #a6a6a6;
        }
    }

    &__price-range {
        font-family: $headerFont;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        opacity: 0.2;
        text-transform: lowercase;
    }
}

.products {
    &__sort {
        background-color: #ebebeb;

        h3 {
            font-family: $headerFont;
            font-weight: 800;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
        }

        &-criterion {
            font-family: $textFont;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            opacity: 0.3;
            @include resetLinkStyle();

            &:hover {
                opacity: $mediumOpacity;
            }

            &:active {
                opacity: 1.0;
            }

            &-active {
                opacity: 1.0;
            }
        }
    }

    &__cards {
        @include resetListStyle();
    }

    &__card {
        &-price {
            font-family: $headerFont;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__pagination {
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        background-color: #ebebeb;

        a {
            @include resetLinkStyle();
        }
    }

    &__backward,
    &__forward {
        &:hover {
            background-color: #d9d9d9;
        }

        &:active {
            color: rgba(0, 0, 0, 0.3);
        }
    }

    &__pages {
        @include resetListStyle();
    }

    &__page {
        opacity: $lowOpacity;

        &:hover {
            opacity: $mediumOpacity;
        }

        &:active {
            opacity: 1.0;
        }

        &-current {
            opacity: 1.0;
        }
    }
}